version: '3.8'
services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      - GCS_BUCKET=email-verifier-bucket
      - SPLITTER_URL=https://us-central1-email-verifier-475805.cloudfunctions.net/csv-splitter
      - REDIS_HOST=redis
      - GOOGLE_APPLICATION_CREDENTIALS=/app/sa-key.json
    volumes:
      - ./sa-key.json:/app/sa-key.json:ro
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes --bind 0.0.0.0
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redis_data: